---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_acct_tax_exempt_status&acct_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"error_code":1009,"error_msg":"account does not exist","exemption_level":"","exemption_level_desc":null}
  recorded_at: Fri, 30 Aug 2013 06:09:54 GMT
recorded_with: VCR 2.5.0
