---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=cancel_supp_plan&acct_no=1&supp_plan_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"error_code":1009,"proration_result_amount":null,"invoice_no":null,"supp_plan_line_items":null,"total_charges_before_tax":null,"total_tax_charges":null,"total_charges_after_tax":null,"total_credit":null,"total_tax_credit":null,"total_credit_before_tax":null,"total":null,"third_party_errors":null,"proration_credit_result_amount":null,"proration_credit_amount":null,"proration_tax_amount":null,"error_msg":"account does not exist"}
  recorded_at: Fri, 30 Aug 2013 06:06:29 GMT
recorded_with: VCR 2.5.0
