---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_auf_status
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"status_cd":"","load_date_time":null,"recs_received":"","recs_loaded":"","recs_failed":"","error_code":1002,"error_msg":"no data found"}
  recorded_at: Fri, 30 Aug 2013 06:10:58 GMT
recorded_with: VCR 2.5.0
