---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=pre_calc_invoice
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"error_code":1016,"error_msg":"invalid input","inv_calc_out":null,"third_party_errors":null}
  recorded_at: Fri, 30 Aug 2013 06:12:55 GMT
recorded_with: VCR 2.5.0
