---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=validate_session&session_id=123456
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"user_id":null,"account_no":null,"error_code":1011,"error_msg":"invalid session"}
  recorded_at: Fri, 30 Aug 2013 06:13:09 GMT
recorded_with: VCR 2.5.0
