---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_client_items
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"client_items":[{"item_no":10074455,"item_label":"Box","service_no":10163083,"service_desc":"Inventory","client_sku":"1234567","price":5,"item_plan":null,"item_months":null,"currency_cd":"usd","class_no":null,"class_label":null,"stock_level":null,"avg_ratings":null,"num_ratings":null,"num_reviews":null,"image_url":null,"image_text":null}],"error_code":0,"error_msg":"OK"}
  recorded_at: Fri, 30 Aug 2013 06:09:57 GMT
recorded_with: VCR 2.5.0
