---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: UTF-8
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_email_templates
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"templates_by_client":[{"template_no":31,"template_name":"Generic password reminder message","template_class":"P"},{"template_no":70,"template_name":"Generic plan change notice message","template_class":"S"},{"template_no":106,"template_name":"Generic HTML Statement (Webmail Compliant)","template_class":"I"}],"error_code":0,"error_msg":"OK"}
  recorded_at: Fri, 30 Aug 2013 06:12:11 GMT
recorded_with: VCR 2.5.0
